@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@theme {
    --color-primary-50:  #FFF5F6;
    --color-primary-100: #FEECEE;
    --color-primary-200: #FCD9DC;
    --color-primary-300: #F9C5C9;
    --color-primary-400: #E37A8B;
    --color-primary-500: #D96C7E;
    --color-primary-600: #C75F70;
    --color-primary-700: #AC505E;
    --color-primary-800: #92414D;
    --color-primary-900: #6D2F39;
}